html {
    width: 100%;
    padding: 0;
    margin: 0;
}


.banner {
    background-color: rgba(124, 223, 177, 0);
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 89px;
    margin-bottom: 26px;
    border-radius: 12px;
    text-transform: uppercase;
}


.banner:hover {
    background-color: rgba(165, 30, 86, 0.774);
    cursor: pointer;
}
  /** .banner::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
        background-color: #333;
        transform: scale(.5);
        transition: transform .2s ease, opacity .2s ease;
        opacity: 0;
        z-index: -1;
    
} **/


.Logo {
    height: 90px;
}


.buttonholder {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

header{
    background-color: rgb(199, 44, 109);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0%;
    left: 0;
    z-index: 99;
}

body{
    padding-top: 150px;
}



.BobOmb,
    .HealthPack,
    .MagicWand,
    .PokeBall,
    .Potion,
    .RareCandy,
    .Star {
        width: 100px;
        height: 100px;
    }

@media (min-width: 556px)
{
    .BobOmb,
    .HealthPack,
    .MagicWand,
    .PokeBall,
    .Potion,
    .RareCandy,
    .Star {
        width: 200px;
        height: 200px;
    }

    #products {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto auto auto;
        margin-left: 480px;
        grid-gap: 86px;
    }

    header {
        text-align: center;
    }
    
}